@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(20, 20, 20);
  color: white; 
}
.navbarContainer{
  display: flex;
  justify-content: center;
  width: 1000px;
  font-size: 26px;
  position: relative;
  margin: 30px auto;
}
.navbarContainer a{
  background-color: white;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 6px;
  margin-inline: 10px;
}

.navbarContainer a:first-child{
  background-color: rgb(20, 20, 20);
  color: white; 
  font-weight: 600;
  position: absolute;
  left: 10px;
  text-decoration: underline;
}
.navbarContainer a:last-child{
  background-color: rgb(20, 20, 20);
  color: white; 
  border: thin solid white;
  position: absolute;
  right: 10px;
  transition: 0.125s ease-in-out;
}
.navbarContainer a:last-child:hover{
  background-color: white;
  color: rgb(20, 20, 20);
  transition: 0.125s ease-in-out;
}
.welcome-container{
  background: linear-gradient(to bottom left, rgb(64, 20, 64), rgb(48, 1, 48));
  padding: 30px;
}
.welcome-text{
  font-size: 32px;
  font-weight: 600;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.flashcard-container{
  background: linear-gradient(to bottom left, rgb(64, 20, 64), rgb(48, 1, 48));
  width: 450px;
  min-height: 250px;
  border-radius: 18px;
  padding: 50px 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: -3px -3px 10px rgb(69, 69, 69), 5px 5px 12px black;

}
.category-label {
  position: absolute;
  top: 30px;
  left: 30px;
  text-transform: capitalize;
}
.flashcard-container h2{
  margin: 10px auto;
  text-align: center;
  font-size: 32px;
  width: 350px;
}
.answer-button {
  position: absolute;
  bottom: 30px;
  left: 37.5%;
  width: 125px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  background: linear-gradient(to right, rgb(70, 28, 110), rgb(59, 4, 110));
  box-shadow: -1px -1px 5px rgb(159, 159, 159), 2px 2px 5px black;
  color: white;
  cursor: pointer;
}
.answer-button:hover {
  background: linear-gradient(to right, rgb(74, 29, 115), rgb(41, 0, 79));
}

