@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
*{
  margin: 0;
  padding: 0;
}
html{
  height: 100vh;
  background: linear-gradient(to top left, navy,  purple );
}

body{
  font-family: 'Montserrat', sans-serif;
  color: white; 
}
.navbarContainer{
  display: flex;
  justify-content: center;
  width: 1000px;
  font-size: 26px;
  position: relative;
  margin: 30px auto;
}
.navbarContainer a{
  background-color: white;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 6px;
  margin-inline: 10px;
}

.navbarContainer a:first-child{
  background-color: transparent;
  color: white; 
  font-weight: 600;
  position: absolute;
  left: 10px;
}
.navbarContainer a:last-child{
  background-color: transparent;
  color: white; 
  border: thin solid white;
  position: absolute;
  right: 10px;
  transition: 0.125s ease-in-out;
}
.navbarContainer a:last-child:hover{
  background-color: white;
  color: rgb(20, 20, 20);
  transition: 0.125s ease-in-out;
}
.welcome-container{
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 8%, 
    transparent 8%
  );
  background-position: 0% 0%;
  background-size: 7vmin 7vmin;
  border: thick solid white;
  padding: 30px;
  width: 700px;
  text-align: center;
  border-radius: 8px;
}
.welcome-text{
  font-size: 32px;
  font-weight: 600;
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.flashcard-container{
  background: transparent;
  border: thin solid rgb(82, 82, 82);
  width: 450px;
  min-height: 250px;
  border-radius: 18px;
  padding: 50px 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: -3px -3px 9px rgb(193, 193, 193), 3px 3px 9px rgb(21, 21, 21);

}
.category-label {
  position: absolute;
  top: 30px;
  left: 30px;
  text-transform: capitalize;
}
.flashcard-container h2{
  margin: 10px auto;
  text-align: center;
  font-size: 32px;
  width: 350px;
}
.answer-button {
  position: absolute;
  bottom: 30px;
  left: 37.5%;
  width: 125px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  background: transparent;
  border: thin solid white;
  color: white;
  cursor: pointer;
}
.answer-button:hover {
  background-color: white;
  color: rgb(0, 0, 0);
}

.delete-button{
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: rgb(255, 56, 56);
  color: white;
  width: 165px;
  height: 35px;
  border-radius: 4px;
  outline: none;
  border: none;
}